/* Define Global Variables */
:root {
    --body-bg-image: url('../src/bg/spiral.gif');

    /* colors */
    --content: #43256E;
    --content-bg: black;
    --content-fg: #ECE5B4;
    --accent1: #9f0191;
    --accent2: #9A4496;
    --gradient-height: 100px
}

/* Include Fonts */
@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

/* General Formatting */

body {
    font-family: 'Garamond';
    height: 100%;
    margin: 0;
    /* background-color: #08031A; */
    /* background-color: var(--content-bg); */
    /* you can delete the line below if you'd prefer to not use an image */
    /* background-size: 65px; */
    color: var(--content-fg);
    /* background-image: var(--body-bg-image); */
    
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background: linear-gradient(180deg, var(--content), #33114e, #110736), url("../src/noise.svg");
}

* {
    box-sizing: border-box;
}


/* Site Main Container */
#container {
    max-width: 900px;
    height: 100%;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* align-items: center; */
    justify-content: center;
    /* this centers the entire page */
}

/* Main Body Links */
#container a {
    color: #ED64F5;
    text-align:center;
    text-decoration:none; 
}

/* Area above Nav Bar */
#header {
    /* width: 100%; */
    /* header color here! */
    height: 400px;
    /* this is only for a background image! */
    /* if you want to put images IN the header, 
you can add them directly to the <div id="header"></div> element! */
    /* background-image: var(--header-image); */
}
#header h1 {
    position: absolute;
    font-size: 4em;
    padding-top: 100px;
    font-family: "Corben", cursive;
    letter-spacing: 0.6em;
    line-height: 1.4em;
    text-transform: uppercase;
    color: teal;
    font-weight: 400;
    text-align: center;
}
/* navigation section!! */
.navbar {
    border-radius: 25px;
    height: 40px;
    background-color: var(--content-bg);
    /* navbar color */
    width: 100%;
    border: 1px solid var(--content-fg);
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: 65px;
    background-image: var(--body-bg-image);
}


.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

.navbar li {
    padding-top: 10px;
}

/* navigation links*/
.navbar li a {
    color: var(--accent1);
    /* navbar text color */
    font-weight: 800;
    text-decoration: none;
    /* this removes the underline */
}

/* navigation link when a link is hovered over */
.navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}

#flex {
    display: relative;
}



/* Shared formatting for sidebars*/
aside {
    background-color: var(--content-bg);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    border: 1px solid var(--content-fg);
    margin-left: 10px;
}


/* this is the color of the main content area,
between the sidebars! */

.articletop {
    background-color: transparent;
    top: 0;
    height: var(--gradient-height);
    background: linear-gradient(0deg,
        var(--content-bg),
        rgba(0,0,0,0)),
        url("../src/noise.svg");   
    /* filter: contrast(170%) brightness(1000%); */
  filter: contrast(145%) brightness(650%); 
  mix-blend-mode: color-burn;
}
.articlebottom {
    background-color: transparent;
    top: 0;
    height: var(--gradient-height);
    background: linear-gradient(180deg,
        var(--content-bg),
        rgba(0,0,0,0)),
        url("../src/noise.svg");   
    /* filter: contrast(170%) brightness(1000%); */
  filter: contrast(145%) brightness(650%); 
  mix-blend-mode: color-burn;
}


main {
    top: var(--gradient-height);
    background-color: var(--content-bg);
    flex: 1;
    padding: 20px;
    order: 2;
    /* border: 1px solid var(--content-fg); */
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* width: 90%; */
}

/* Sidebar individual formatting */
#leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}


/* Footer formatting */
footer {
    background-color: var(--content-bg);
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
    border: 1px solid var(--content-fg);
    border-radius: 25px;
}


/* Text Formatting */
h1,
h2,
h3 {
    /* color: var(--accent1); */
}

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: var(--accent1);
}

/* this is just a cool box, it's the darker colored one */
.box {
    background-color: var(--accent2);
    border: 1px solid var(--content-fg);
    padding: 10px;
}

/* CSS for extras */

#topBar {
    background-color: var(--content-bg);
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--content-fg);
}


/* For Gradient Circle */

section {
  position: relative;
  top: 0%;
  width: 100%;
  height: 600px;
}

.gradientNoise {
    width=100%;
    height=20px;
    background:
    linear-gradient(to right, blue, transparent),
    url("src/noise.svg");
    filter: contrast(170%) brightness(1000%);
}

.noiseHeader {
  margin-top: -70%;
  width: 100%;
  height: 120%;
  background: radial-gradient(
      circle at 50% 50%,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../src/noise_large.svg");
  filter: contrast(145%) brightness(650%) invert(100%);
  mix-blend-mode: screen;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .noiseHeader {
    filter: contrast(125%) brightness(650%) invert(100%);
    mix-blend-mode: color-dodge;
  }
  /* .articletop { */
  /*    */
  /*   filter: contrast(125%) brightness(650%) invert(100%); */
  /*   mix-blend-mode: color-dodge; */
  /* } */
  .navbar li a {
    /* filter: contrast(125%) brightness(650%) invert(100%); */
    mix-blend-mode: difference;
    
  }
}

.center {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 50%;
}

.row {
  display: flex;
}

.column {
  text-align: center;
  width: 33.33%;
  padding: 15%;  
}

/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 500px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }
    .column {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}
